* {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none;    /* Firefox all             */
  -ms-user-select: none;     /* IE 10+                  */
   user-select: none;        /* Likely future           */
}

div.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: lightgray;
}

div.header {
  flex: 0 0 50px;
  padding-left: 5px;
  padding-right: 5px;
}

div.body {
  flex: 1 1 calc(100% - 50px);
  display: flex;
}

div.tree {
  flex: 1 1 66%;
  position: relative;
  overflow: hidden;
}

div.treeItems {
  position: absolute;
  width: 50%;
  height: 100%;
  transition: left 0.2s;
  overflow-y: scroll;
}

div.treeItems.treeItems-0 { left: -50%; }
div.treeItems.treeItems-1 { left: 0%; }
div.treeItems.treeItems-2 { left: 50%; }
div.treeItems.treeItems-3 { left: 100%; }

div.treeItems.hide {
  visibility: hidden;
}

div.selection {
  flex: 1 1 33%;
  position: relative;
}

div.selection > div {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
