div.backdrop {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: #cccccc;
  opacity: 0.5;
}

div.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  min-width: 600px;
  min-height: 300px;
  max-width: 1000px;
  max-height: 500px;
  width: 80%;
  height: 60%;

  opacity: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

header {
  background: #5851ff;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}

main {
  height: calc(100% - 56px);
}
