
.item {
  height: 40px;
  border: 1px solid black;
  background: #eeeeee;

  display: flex;
}

.item.hasChildren {
  background: white;
}

.item.alternative {
  background: lightyellow;
}

.item.selected {
  background: lightyellow;
}

.item.active {
  background: lightblue;
}

.item.hasChildren .content,
.item.hasChildren .childIndicator {
  cursor: pointer;
}

.item .checkbox {
  flex: 0 0 40px;
  cursor: pointer;
  text-align: center;
  border-right: 1px solid gray;
}

.item .content {
  flex: 1 1 auto;
  padding-left: 10px;
}

.item .childIndicator {
  flex: 0 0 20px;
}
